<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Semantic Matching Demo</title>
<link rel="stylesheet" type="text/css"
	th:href="@{resources/css/main.css}"></link>
</head>
<body>
	<h1>Semantic Matching Demo</h1>
	<form action="#" th:action="@{/gen}" method="get">
		<div>
			Available Data: <input type="text"
				placeholder="(name:type,name:type)" th:name="input" />
		</div>
		<div>
			Threshold: <input type="text" placeholder="(0-1)" th:name="threshold" />
		</div>
		<div>
			<button type="submit">Generate</button>
		</div>
	</form>
	<script type="text/javascript" th:src="@{resources/js/script.js}"></script>
</body>
</html>